@font-face {
  font-family: Gidole;
  src: url('fonts/Gidole-Regular.otf')
}

body {
  background: black !important;
  font-family: "Gidole";
  color: white;
  }

h1 {
  font-size: 113px;
}

h2 {
  font-size: 80px;
}
