<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Static Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<nav>
    <center>
        <div style="display: inline-block; vertical-align:middle; text-decoration: none;">
    <a style="text-decoration:none" href="/" class="title"><b>MASON THOMAS' WEBSITE</b><br>
    </a><hr><div style="text-align: justify;display: inline-block; width: 100%;">
    <!-- <a class="title" href="/about/index.html">ABOUT</a> &nbsp;<a class="title" href="/contact/index.html">EMAIL</a> &nbsp;<a class="title" href="../rss.xml">RSS</a> &nbsp;<a class="title" href="https://paypal.me/fabiensanglard">DONATE</a></div></div> -->
    <a style="text-decoration: none" class="title" href="/about/index.html">ABOUT</a> &nbsp;<a style="text-decoration: none" class="title" href="/contact/index.html">CONTACT</a> &nbsp;<a  style="text-decoration: none" class="title" href="/now/index.html">NOW</a> &nbsp;<a  style="text-decoration: none" class="title" href="https://portfolio.masont.dev">PORTFOLIO</a></div></div>
    
    </center>
</nav>